*{
	padding: 0;
	margin: 0;

}
body{
	font-family: arial;
}

header{
	background-color:#63acd8; 
}

header img{
	width: 70px;
	float: left;
	margin-top: 5px;
	
}

header h1{
	text-align: center;
	padding: 10px;
	font-size: 60px;
	text-shadow:2px 2px 2px grey;
}

nav ul {
	background-color:#18479f;
}
nav ul li,
nav ul li a{
	display: inline-block;
	color: #fff;
}
nav ul li a:link,
nav ul li a:visited{
	text-decoration: none;
	padding: 10px;
	transition: all 0.2s;
}
nav ul li a:hover,
nav ul li a:active{
	background-color: #409ad5;
}
nav .search{
	float: right;
	margin-top: 8px;
	margin-right: 70px;
	width: 20%;
	height: 20px;
	border-radius: 3px;
	border: none;
	text-indent:5px; 
}
section{
	
	width: 70%;
	margin: 10px;
	float: left;
	background-color: #efefef;
}
article .img{
	width: 50px;
    height: 50px;
    margin: 2px;
    float: left;
    border-radius: 100px;
}
article .img1{
	width: 100%;
}
article p{
	padding: 5px;
}